[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/devtools"]
	path = lib/devtools
	url = https://github.com/layerzero-labs/devtools
[submodule "lib/LayerZero-v2"]
	path = lib/LayerZero-v2
	url = https://github.com/layerzero-labs/LayerZero-v2
[submodule "lib/solidity-bytes-utils"]
	path = lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils.git
[submodule "lib/openzeppelin-contracts-upgradeable-v4"]
	path = lib/openzeppelin-contracts-upgradeable-v4
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
	branch = v4.9.3
[submodule "lib/openzeppelin-contracts-upgradeable-v5"]
	path = lib/openzeppelin-contracts-upgradeable-v5
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
	branch = v5.0.2
[submodule "lib/openzeppelin-contracts-v4"]
	path = lib/openzeppelin-contracts-v4
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.9.3
[submodule "lib/openzeppelin-contracts-v5"]
	path = lib/openzeppelin-contracts-v5
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v5.0.2
